version: '3.8'

networks:
  food_delivery_network:
    driver: bridge

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "5000:5000"
    volumes:
      - ./api-gateway:/app
    depends_on:
      - order-service
      - delivery-service
      - stock-service
    networks:
      - food_delivery_network

  tasks:
    build: ./tasks
    volumes:
      - ./tasks:/app
    depends_on:
      - redis
      - order-service
      - delivery-service
      - stock-service
    env_file:
      - ./tasks/.env
    networks:
      - food_delivery_network

  order-service:
    build: ./order-service
    ports:
      - "5001:5001"
    volumes:
      - ./order-service:/app
    depends_on:
      - db
    env_file:
      - ./order-service/.env
    networks:
      - food_delivery_network

  delivery-service:
    build: ./delivery-service
    ports:
      - "5002:5002"
    volumes:
      - ./delivery-service:/app
    depends_on:
      - db
      - redis
    env_file:
      - ./delivery-service/.env
    networks:
      - food_delivery_network

  stock-service:
    build: ./stock-service
    ports:
      - "5003:5003"
    volumes:
      - ./stock-service:/app
    depends_on:
      - db
    env_file:
      - ./stock-service/.env
    networks:
      - food_delivery_network

  # order-auto-generation-service:
  #   build: ./order-auto-generation-service
  #   ports:
  #     - "5005:5005"
  #   volumes:
  #     - ./order-auto-generation-service:/app
  #   depends_on:
  #     - order-service
  #   env_file:
  #     - ./order-auto-generation-service/.env
  #   networks:
  #     - food_delivery_network

  frontend-service:
    build: ./frontend-service
    ports:
      - "8080:8080"
    depends_on:
      - api-gateway
    networks:
      - food_delivery_network

  db:
    build: ./database
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: food_delivery
    ports:
      - "5004:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - food_delivery_network
    restart: unless-stopped

  redis:
    image: redis:6.2
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - food_delivery_network

volumes:
  mysql-data:
  redis-data: